.nav {
    display:  flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px 120px;
    color: white;
}

.nav-logo{
    font-family: Outfit;
    font-size: 43px;
    font-weight: 500;
}

.nav-menu {
    display: flex;
    align-items: center;
    list-style: none;
    font-size: 18px;
    gap:90px ;
}

.nav-contact {
    background: white;
    color: #333;
    padding: 15px 30px;
    border-radius: 30px;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
}

.nav-contact:hover {
    background: #f0f0f0;
    transform: translateY(-2px);
}

